-var msg = "wördcounter"
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{msg}
    body
        h1 #{msg}
        #word word
        #score 0
        #grid
        .btn-group
            button(id="delete") delete
            button(id="submit") submit
