* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --wrong: darkred;
    --good: darkgreen;
    --border: #fafafa;
    --duplicate: #353236;
    --clicked: #7cf2ec;
    --background: linear-gradient(#fac935, #efabd0, #7cf2ec);
    --background-button: #353236;
    --background-modal: linear-gradient(#fac935, #efabd0, #7cf2ec);
    --colour-button: #fafafa;
    --text-light: #fafafa;
    --text-dark: #353236;
    --background-light: #efabd0;
    --highlight-pink: #efabd0;
    --highlight-blue: #7cf2ec;
    --highlight-yellow: #fac935;
}

@font-face {
    font-family: 'Livvic';
    font-weight: 400;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
    font-display: swap;
}

body {
    margin-top: 60px;
    color: var(--text-light);
    height: calc(100vh - 60px);
    width: 100%;
    background: var(--background);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Livvic', 'Helvetica', 'Arial', sans-serif;
}

h1 {
    text-transform: capitalize;
}

#score {
    cursor: pointer;
}

#word {
    font-size: 1.5rem;
    height: 2rem;
}

#word-wrapper {
    position: relative;
    max-width: 450px;
    width: 100%;
    text-align: center;
}

#help {
    font-size: 2rem;
    position: absolute;
    left: 10px;
}

#trafficLight {
    position: absolute;
    right: 12px;
    height: 20px;
    width: 80px;
    /* outline: 1px solid black; */
    top: 4px;
    display: flex;
}

#trafficLight>p {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 4px solid var(--text-light);
}

#green {
    background: rgba(85, 204, 85, 0.3);
    transition: background-color linear 0.5s;
}

#orange {
    background: rgba(255, 152, 0, 0.3);
    transition: background-color linear 0.5s;
}

#red {
    background: rgba(255, 87, 34, 0.3);
    transition: background-color linear 0.5s;
}

#green.active {
    background: rgba(85, 204, 85, 1);
}

#orange.active {
    background: rgba(255, 152, 0, 1);
}

#red.active {
    background: rgba(255, 87, 34, 1);
}

.active::after {
    height: 100%;

    /* top: 0; */
    content: '';
    background: white;
    position: absolute;
    opacity: 1;
    transform: rotate(45deg);
    z-index: 1;
    animation: blink 1.6s;
    width: 4px;
}

@keyframes blink {
    0% {
        opacity: 0;
        /* background: red; */
    }

    50% {
        opacity: 0.5;
        /* background: red; */
    }

    80% {
        opacity: 0.2;
        /* background: green; */
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    top: 0;
    background: var(--background-light);
    text-shadow: 0px 0px 2px var(--text-dark);
    position: absolute;
    padding: 10px;
    border-bottom: 4px solid var(--border);
}

#newGame {
    padding: 0;
    width: auto;
    font-size: 2rem;
    background: inherit;
    border: none !important;
}

#grid {
    border: 2px solid var(--border);
    border-radius: 5px;
    max-width: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* 
#grid.wrong {
    border: 2px solid var(--wrong);

    box-shadow: inset 0px 0px 20px 1px var(--wrong);
}

#grid.wrong > button {
    border: 2px solid var(--wrong) !important;
}

#grid.duplicate {
    border: 2px solid var(--duplicate);

    box-shadow: inset 0px 0px 20px 1px var(--duplicate);
}

#grid.duplicate > button {
    border: 2px solid var(--duplicate) !important;
}

#grid.good {
    border: 2px solid var(--good);
    box-shadow: inset 0px 0px 20px 1px var(--good);
}

#grid.good > button {
    border: 2px solid var(--good) !important;
} */

button {
    padding-bottom: 10%;
    padding-top: 2px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-family: inherit;
    cursor: pointer;
    opacity: 1 !important;
    background: rgba(256, 256, 256, 0.2);
    text-shadow: 0px 0px 2px var(--text-dark);
    color: var(--colour-button);
    border: 2px solid var(--border) !important;
}

.btn-group {
    border: 2px solid var(--border);
    border-radius: 5px;
    display: flex;
    max-width: 450px;
    height: 80px;
    width: 100%;
    margin: 10px 0;
}

.btn-group>button {
    padding: 0;
    font-size: 2rem;
    text-shadow: 0px 0px 2px var(--text-light);

    /* margin: 0.4rem; */
}

#delete {
    width: 25%;
    background: var(--highlight-yellow);
}

#submit {
    background: var(--highlight-blue);

    color: var(--text-dark);
    width: 50%;
}

#save {
    background: var(--highlight-yellow);
    width: 25%;
}

button:focus {
    outline: none;
}

button>span:first-of-type {
    font-size: 5rem;
    pointer-events: none;
}

button>span:last-of-type {
    /* font-size: 5rem; */
    pointer-events: none;
    position: absolute;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.clicked {
    color: var(--text-dark);
    text-shadow: 0px 0px 2px var(--text-light);
    background: var(--clicked);
}

ul#wordsModal {
    position: absolute;
    background: var(--background-modal);
    text-align: center;
    font-size: 2rem;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1;
}

ul#wordsModal>li {
    width: 100vw;
    padding: 5px;
}